  <div id="header">
    <h1>Login</h1>
  </div>

  <div id="content">
    <div title='jqForms' id="jqforms" class="panel" selected="true">
    <form method="POST" action="<%= url_for :action => :do_login %>">
      <% if @msg %>
          <div class="error-message"><%= @msg %></div>
      <% end %>

      
        <label for="login">Login</label> <br />
        <input type="text" id="login" name="login" class='jq-ui-forms' />
        <br />
     
        <label for="password">Password</label> <br />
        <input type="password" id="password" name="password" class='jq-ui-forms'/>
     
      <input type="submit" value="Login"/>
    </form>
   </div> 
  </div>


