

<script>
    
   
     var oldElem="default";
     function setActiveStyleSheet(title) {
     var a = document.getElementsByTagName("link");
     var currElem;
  
     if(title==oldElem.getAttribute("title")||oldElem=="default")
       return;
     for(i=0; i<a.length; i++) {
  
      if(a[i].getAttribute("title")==title){
        currElem=a[i];
      }
      else if(!a[i].getAttribute("disabled")&&a[i].getAttribute("title"))
         oldElem=a[i];
     }
  
     currElem.removeAttribute("disabled");
     jq.ui.showMask();
     window.setTimeout(function(){
     jq.ui.hideMask();
     oldElem.setAttribute("disabled","true");
     },500);
     }
     $(document).ready(function(){
     oldElem=document.getElementsByTagName("link")[0];
     });
     </script>

            <ul>
             <li><a href="javascript:;" onclick="setActiveStyleSheet('default')">Default</a></li>
             <li><a href="javascript:;" onclick="setActiveStyleSheet('carbon')">Carbon</a></li>
             <li><a href="javascript:;" onclick="setActiveStyleSheet('eco')">Eco</a></li>
             <li><a href="javascript:;" onclick="setActiveStyleSheet('frosty')">Frosty</a></li>
             <li><a href="javascript:;" onclick="setActiveStyleSheet('slate')">Slate</a></li>
             <li><a href="javascript:;" onclick="setActiveStyleSheet('volcano')">Volcano</a></li>
           </ul>
  
