
<div title="Transitions" id="jqmtransitions" >
  <ul>
    <li><a href="#transition1"  data-transition="slide">Slide</a></li>
    <li><a href="#transition2"  data-transition="up">Slide Up</a></li>
    <li><a href="#transition3"  data-transition="down">Slide Down</a></li>
    <li><a href="#transition4"  data-transition="pop">Pop</a></li>
    <li><a href="#transition5"  data-transition="flip">Flip</a></li>
    <li><a href="#transition6"  data-transition="fade">Fade</a></li>
  </ul>
  <br/><br/>
</div>


